body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}
h3{
  text-align: center;
}
canvas {
  display: block;
  margin: auto;
  border: 1px solid black;
}

button {
  display: block;
  margin: 10px auto;
  font-size: 18px;
  padding: 10px 20px;
}
